<br><br>

    <div class="footer">
        <div class="row">
    
            <div class="col-sm-3">
                <h4>E-book</h4> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore exercitationem sint voluptatibus porro, obcaecati rerum alias qui vel odio, veniam blanditiis? Minima magnam, in fugiat fuga quos tempore iusto quisquam!
            </div>
    
            <div class="col-sm-3">
                <h4>Categories</h4>
              <div *ngFor="let item of services">
                  {{item}}
              </div>
            </div>
    
            <div class="col-sm-3">
                <h4>Subscribe Newsletter</h4>
                <div>get latest updated and offers.</div>
             <br>
             <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <button class="btn btn-warning">Subscribe us</button>
            </div>
            </div>
    
            <div class="col-sm-3">
              <h4>Contact Us</h4>
              Arera Colony, Bhopal,M.P , INDIA <br> 011-2589-2589 <br> Contact@eBook.com <br> <br>
              <i class="fa fa-google-plus-official" aria-hidden="true"></i>
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>

            </div>
        </div>
    
</div>